## This is the full name of your SignalWire Space. e.g.: example.signalwire.com
SIGNALWIRE_SPACE_URL=
# Your Project ID - you can find it on the `API` page in your SignalWire Space.
SIGNALWIRE_PROJECT=
#Your API token - you can generate one on the `API` page in your SignalWire Space.
SIGNALWIRE_TOKEN=
# The phone number you'll be using for this application in e.164 format. Must include the `+1` , e.g.: +15551234567
SIGNALWIRE_NUMBER=
# The PHP command line interface to used (e.g., /usr/bin/php or /usr/bin/php-7.3-cli)
PHP_CLI=
